fastapi>=0.109.0
uvicorn>=0.27.0
pydantic>=2.5.0
pandas
networkx
python-multipart
web3
httpx
pytest
sqlalchemy
psycopg2-binary
# Torch CPU Only (Critical for Render/Cloud Limit)
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.1.0+cpu
torch_geometric
scikit-learn
numpy
python-dotenv

ipfshttpclient==0.8.0a2
